<template>
    <div class="container-fluid">

        <InfoUser />
        <br><br>
        <div class="row justify-content-lg-center">
            <div class="col-lg-7 room"><ListRoom /></div>
            
            <div class="col-lg-5"><ListUser /></div>            
        </div>
        


    </div>
</template>

<script>
import InfoUser from '@/components/infoUser.vue'
import ListRoom from '@/components/listRoom.vue'
import ListUser from '@/components/listUser.vue'
export default {
    name: 'Accueil',
    components:{
        InfoUser,
        ListRoom,
        ListUser
    },
    data(){
        return{

        }
    }
}
</script>

<style  scoped>

.room{
    margin-bottom: 3em;
    padding-right: -10em ;
}



</style>