<template>
    <div class="container">
       
        <div class="row" >
            <div class="col-md-6 mt-5 mx-auto">
                <form v-on:submit.prevent="inscription">
                    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" v-model="prenom" class="form-control" name="prenom" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" v-model="nom" class="form-control" name="nom" placeholder="Nom">
                    </div>
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" v-model="email" class="form-control" name="email" placeholder="Enter Email"> 
                    </div>

                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" v-model="password" class="form-control" name="password" placeholder="Enter Password"> 
                    </div>

                    <div class="form-group">
                      <label for="passwordConf">Password Confirmation</label>
                      <input type="password" v-model="passwordConf" class="form-control" name="passwordConf" placeholder="Enter Password Confirmation"> 
                    </div>
                    
                    <button class="btn btn-lg btn-block" type="submit" v-on:submit.prevent="inscription">S'inscrire</button>

                </form>

                
            </div>
        </div>
    </div>
</template>


<script>

export default {
    name: 'Inscription', 
    data(){
        return{
                prenom: null,
                nom: null,
                email: null,
                password: null,
                passwordConf: null,
                //msgInscription: this.$store.getters.getMsgInscription,
            
        }
    },
    methods: {
        
        inscription : function(){

            
            if(this.password == this.passwordConf && this.password != null){
                
                if(this.prenom!='' && this.nom!='' && this.email!='' && this.password!=''){
               
                    const post = {
                        prenom: this.prenom,
                        nom: this.nom,
                        email: this.email ,
                        password: this.password ,
                    }
                    this.$store.dispatch("inscription", post)
                    .then( res => {
                        console.log(JSON.stringify(res))
                    })
                }
                else{

                    //this.msgInscription = 'Il faut rentrer toutes les informations nécessaire à l\'inscription';
                    alert("Il faut rentrer toutes les informations nécessaire à l inscription");

                }
            }else{

                //this.msgInscription = "Le mot de passe doit être le même";
                //alert("Le mot de passe doit être le même")
                alert("Le mot de passe doit être le même");
                
            }
            
        },
    },
    
}
</script>

<style scoped>
.btn{
    background-color:#0F73A2;
}
</style>