<template>
    <div class="container" >

        <div class="row" >
            <div class="col-md-6 mt-5 mx-auto">
                <form v-on:submit.prevent="login">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in </h1>
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" v-model="email" class="form-control" name="email" placeholder="Enter Email">
                    </div>

                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" v-model="password" class="form-control" name="password" placeholder="Enter Password">
                    </div>

                    <button class="btn btn-lg btn-block" type="submit" @submit.prevent="login">Sign in</button>

                </form>
            </div>
        </div>
       
    </div>
</template>


<script>

export default {
    name: 'Login',
    data(){
        return{
            email: '',
            password:'',
            
            
        }
    },
    created(){
        
    },
    methods: {
        
        login(){
            if(this.email != '' && this.password != ''){
                const post = {
                        email: this.email ,
                        password: this.password ,
                    }
                    this.$store.dispatch("login", post).then(()=>{

                        var data = {id: this.$store.getters.getIdUser};
                        console.log(data)
                        //this.$socket.emit('USER_CONNECT', data)
                    })
                    
            }else{
                alert('Remplissez tous les elements s\'il vous plait')
            }
        },
        
    }
}
</script>


<style scoped>
.btn{
    background-color: #0F73A2;
}
</style>