<template>
    <div class="container-fluid">
        <div class="container-fluid" id="nav-chat" style="display: flex; flex-direction:row">
             <b-img v-bind="mainProps" rounded="circle" alt="Circle image"></b-img>
             <div style=" font-weight: 900; margin-top: auto; margin-bottom: auto; margin-left: 1em;">{{otherUserPrenomEtNom}}</div>
        </div>
        <div class="container chatbox" id="chatbox" >
            
            <div class="container" style="margin-bottom: 150px;">
                <div v-for="msg in listMsg" :key="msg._id" class="conteneur-message">
                <div class="row msg sb4" v-if="msg.idSend==userId" style="margin-left:auto; margin-right: 0; flex-direction:column"> 
                    <p>{{msg.contenu}}</p>
                    <div class="footer-msg"> <span class="date-msg">   {{date(msg.date)}}</span> </div> 
                </div>
                
                <div class="row msg sb2" v-if="msg.idSend==otherUserId" style="margin-left:0; margin-right: auto; flex-direction:column"> 
                    
                    <p>{{msg.contenu}}</p>
                    <div class="tete-msg"> <span class="date-msg">   {{date(msg.date)}}</span> </div> 
                </div>
                
            </div>
            </div>
            
            <div class="container input-msg">
                <div class="row">
                    <input type="text" name="message" class="form-control" v-model="newMsg" tabindex="4" placeholder="New message..." required>
                    <button class="btn btn-primary"  @click="sendMsg(newMsg)">Submit</button>
                </div>
            </div>



        </div>
    </div>

</template>

<script>
import moment from 'moment'
export default {
    name:'SalleDiscussion',
    data(){
        return{
            idRoom: this.$store.getters.getIdRoomSelected,
            listMsg: [],
            newMsg: '',
            userId: this.$store.getters.getIdUser,
            otherUserId: localStorage.getItem('otherUserId'),
            mainProps: { blank: true, blankColor: '#777', width: 40, height: 40, class: 'm1' },
            otherUserPrenomEtNom:'',
            
        }
    },
    created(){
        this.$store.dispatch('fetchListMsg').then(() => {
              
               this.$set(this.$data, 'listMsg',this.$store.getters.getListMsg)
               console.log(this.listMsg)
                var pMsg= this.listMsg[0];
                
                if(pMsg.idSend==this.userId)
                {
                    this.otherUserPrenomEtNom = pMsg.userRecver[0].prenom+' '+pMsg.userRecver[0].nom;
                    
                }
                else{
                     this.otherUserPrenomEtNom = pMsg.userSender[0].prenom+' '+pMsg.userSender[0].nom;
                      
                }
               
           })
        
    },
    methods:{
        sendMsg(msg){
            
            var post = {
                room: this.idRoom,
                contenu: msg,
                idSend: this.userId,
                idRecv: this.otherUserId
            }
            this.$store.dispatch('postNewMsg', post).then(() =>{
                
               // 
            },err => {
                console.log(err)
            }).then(()=>{
                this.newMsg='';
            })
            this.$socket.emit('MSG_ENVOYER', post)
        },
        date: function (date) {
             return moment(date).format('h:mm:ss a');
        }
    },
    mounted(){
        /*this.$socket.on('MSG_RECU', data => {
            console.log(data)
        })*/
    }
    
   
}
</script>

<style scoped>
p{
    text-align: left;
}
#nav-chat{
   position: fixed; 
   top: 70px; 
   width: 100%;
   padding-top: 10px ;
   z-index: 1;
   background-color: #F0FCFF;
}
.chatbox{
    
    min-height: 400px;
    overflow-y: scroll;
    margin-top: 130px;
    display:flex; flex-direction:column; justify-content:center;
    

}
/* Hide scrollbar for Chrome, Safari and Opera */
.chatbox::-webkit-scrollbar {
    display: none;
}

.conteneur-message{
    display:flex; 
    justify-content:center; 
    margin-bottom: 2em;
    
}
.msg{
    
    max-width: 40%;
    margin: 10px auto;
    background:  #0F73A2;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: arial;
    position: relative;
   
}
.footer-msg{
    font-weight: 900;
    text-align: right;
}

.date-msg{
    font-size: 70%;
    color:#fff;
}


.input-msg{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding-bottom: 2em;

}







.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid  #0F73A2;
  border-top: 10px solid  #0F73A2;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid  #0F73A2;
  border-top: 10px solid  #0F73A2;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}

</style>