<template>
  <div id="app">

    <div id="navbar">
      <Navbar/>
    </div>

    <div class="page">
      <transition name="moveInUp">  
        <router-view/>
      </transition>
    </div>

  </div>
</template>

<script>
import Navbar from '@/components/NavBar.vue'

export default {

  name: 'App',
  components: {
    'Navbar': Navbar
  },
}
</script>


<style>
#navbar{
  position: fixed;
  top: 0; width: 100%; z-index: 1;

}
.page{
  margin-top: 71px;
}
.moveInUp-enter-active {  
  animation: fadeIn 1s ease-in;
  }
  @keyframes fadeIn { 
     
    0%{    opacity: 0;  }  
    50%{    opacity: 0.5;  }  
    100%{    opacity: 1;  }
    }

</style>
