<template>
    <div class="container-fluid">
        
        
        <b-card class="info-user" text-variant="black">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6"><b-img v-bind="mainProps" rounded="circle" alt="Circle image"></b-img></div>
                <div class="col-lg-3 offset-lg-6 col-md-6 offset-md-2 col-sm-6 col-6">
                    <div class="row">
                        <div><span>{{infoUser.prenom}}   {{infoUser.nom}}</span></div>
                    </div>
                    <div class="row ">
                        <div ><span>{{infoUser.email}}</span></div> 
                    </div>
                    <div class="row">
                        
                            <b-button v-b-modal.modal-lg variant="primary">Changer de photo</b-button>
                             <b-modal id="modal-lg" size="lg" title="Changer de photo" style="margin:100px">
                                 <div class="file-upload-wrapper" style="position: relative;">
                                        <input type="file" id="input-file-now" class="file-upload"  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"/>
                                </div>
                            
                             </b-modal>
                        
                    </div>
                </div>
            </div>
          <!--  
            <b-button  variant="primary">modifier photo</b-button>-->
        </b-card>

        
    </div>
    
</template>


<script>
export default {
    name: 'infoUser',
    data(){
        return{
            infoUser: {},
            mainProps: { blank: true, blankColor: '#777', width: 100, height: 100, class: 'm1' },
        }
    },
    created(){
        this.$store.dispatch('fetchInfoUser').then(()=>{
            this.$set(this.$data, 'infoUser',this.$store.getters.getInfoUser)
        })
    }
}
</script>


<style scoped>

.modal-content{
    min-height: 400px;
}
.info-user{
    background-color: #E2EEF3;
}
</style>
