<template>
    <div class="container-fluid">
            <h2 style="text-align: center;">USERS</h2>
            <div class="container  all-user">
                <div class="container scroll">
                    <div v-for="(list, index) in listUser" v-bind:key="index" class="user-box"  @click="selectRoom(list._id)">
                        <div class="row" >
                            
                            <div class="col-4">
                                <b-img v-bind="mainProps" rounded="circle" alt="Circle image"></b-img>
                            </div>
                            <div class="col-5" style="margin-top: 1em;" v-if="list._id!=userId">
                               <div class="row">{{list.prenom}}</div> 
                               <div class="row">{{list.nom}}</div> 
                            </div>
                            <div class="col-5" style="margin-top: 1em;" v-if="list._id==userId">
                               <div class="row">(moi)</div> 
                            </div>
                            <div class="col-3" style="margin-top: 1.3em;">
                                <div v-if="list.status == true || list._id==userId">
                                    <b-img v-bind="connect" rounded="circle" alt="Circle image" ></b-img>
                                </div>
                                <div v-if="list.status == false && list._id!=userId">
                                    <b-img v-bind="deconnect" rounded="circle" alt="Circle image" ></b-img>
                                </div> 
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>


export default {
    name:'listUser',
    data(){
        return{
            listUser: [],
            userId: this.$store.getters.getIdUser,
            mainProps: { blank: true, blankColor: '#777', width: 90, height: 90, class: 'm1' },
            connect: { blank: true, blankColor: 'green', width: 20, height: 20, class: 'm1' },
            deconnect: { blank: true, blankColor: 'red', width: 20, height: 20, class: 'm1' },
            
           
        }
    },
    created () {
        
           this.$store.dispatch('fetchListUser').then(() => {
               this.$set(this.$data, 'listUser',this.$store.getters.getListUser)
                
               
           })
           
           
           
    },
    methods:{
        enleverUserConnecter(elem){
            if(elem._id == this.userId)
            {
                return false;
            }
            else{
                return true;
            }
        },
        selectRoom(idOtherUser){
            if(idOtherUser!=this.userId){
                this.$store.dispatch('testExistRoom', idOtherUser)
                .then(response => {
                    console.log(response)
                    var post = { idRoom: response}
                    var post2 = {otherUserId : idOtherUser}
                    console.log(post2)
                    this.$store.dispatch('setOtherUserId',post2).then(()=> {
                        this.$store.dispatch('setIdRoomSelected', post)
                    })
                },
                error => {
                        console.error(error)
                        var newIdRoom = this.userId + idOtherUser;
                        var post = { idRoom: newIdRoom}
                        var post2 = {otherUserId : idOtherUser}
                        this.$store.dispatch('setOtherUserId',post2).then(()=> {
                        this.$store.dispatch('setIdRoomSelected', post)
                    })
                })
            }else{
                alert('Vous ne pouvez pas faire de discussion avec vous même, vous n\'êtes pas schizophrene quand même 😂');
            }
            
        }
    },
    mounted(){
      this.$socket.on('CONNECT', data =>{
          console.log('socket on user_connected')
          console.log(data)
      });
    }
}
</script>

<style  scoped>

.scroll {
  height:500px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}
.all-user{
    display: flex;
  justify-content: center;
}
.user-box{
   
    border: 1px solid;
    margin: 15px auto;
    padding:15px 20px 15px 55px;
    width: 300px;	
    font: bold 12px verdana;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow: 2px 2px 2px #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: black;
    background: #E2EEF3  no-repeat 10px center;
}

</style>