<template>
    <div class="container-fluid">
            <h2 style="text-align: center;" class="text-style">ROOMS</h2>
            

            <div class="container scroll">
                <div v-for="room in listRoom" :key="room._id" >
                
                    <div v-if="room.idSend == userId" @click="selectRoom(room._id, room.idRecv)" >
                        <b-card-group>
                            <b-card border-variant="light">
                                <b-card-header><h2>{{room.userRecver[0].prenom}}</h2></b-card-header>
                                <b-card-text style="margin-left: 1.5em;">
                                    <div class="row"><h4>{{room.contenu}}</h4></div>
                                    <div class="row" style="margin-top: 1em;"><h6>{{room.date}}</h6></div>
                                </b-card-text>
                                
                            </b-card>
                        
                        
                        </b-card-group>
                    </div>
                    
                    <div v-if="room.idRecv == userId" @click="selectRoom(room._id, room.idSend)" >
                        <b-card-group>
                            <b-card border-variant="light">
                                <b-card-header><h2>{{room.userSender[0].prenom}}</h2></b-card-header>
                                <b-card-text style="margin-left: 1.5em;">
                                    <div class="row"><h4>{{room.contenu}}</h4></div>
                                    <div class="row" style="margin-top: 1em;"><h6>{{room.date}}</h6></div>
                                </b-card-text>
                                
                            </b-card>
                        
                        
                        </b-card-group>
                    </div>
                    
                
                </div>
            </div>

        
    </div>
</template>

<script>
export default {
    name:'listRoom',
    data(){
        return{
            listRoom: [],
            userId: this.$store.getters.getIdUser,
            idRoomSelected: '',
            mainProps: { blank: true, blankColor: '#777', width: 40, height: 40, class: 'm1' }
        }
        
    },
    created () {
           this.$store.dispatch('fetchListRoom').then(() => {
               this.$set(this.$data, 'listRoom',this.$store.getters.getListRoom)
               
           })
    },
    methods:{
        selectRoom(idRoomS, otherUserId){
                
                var post = { idRoom: idRoomS}
                var post2 = {otherUserId : otherUserId}
                this.$store.dispatch('setOtherUserId',post2).then(()=> {
                     this.$store.dispatch('setIdRoomSelected', post)
                })
               
                
                
        }
    } 
    
    
}
</script>

<style scoped>
.scroll {
  height: 500px;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}
</style>