<template>
    <div></div>
</template>

<script>
export default {
    created(){
        this.$store.dispatch('destroySession').then(() => {
            this.$router.push('/Login')
        })
        
    }
}
</script>