<template>
  <div class="container-fluid" >
    <div  class="nav-all">
      <b-navbar toggleable="lg" type="dark" > 
        

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item v-if="loggedIn"><router-link to="/"><b-button variant="outline-light">Accueil</b-button></router-link></b-nav-item>
            <b-nav-item v-if="!loggedIn" ><router-link to="/Login">  <b-button variant="outline-light">Connexion</b-button></router-link></b-nav-item>
            <b-nav-item v-if="!loggedIn"><router-link to="/Inscription"><b-button variant="outline-light">Inscription</b-button></router-link></b-nav-item>
            <b-nav-item v-if="loggedIn"><router-link to="/Logout"><b-button variant="outline-light">Déconnexion</b-button></router-link></b-nav-item>

          </b-navbar-nav>  
        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>
<script>
export default {
  name: 'NavBar',
    data(){
      return{

      }
    },
    computed: {
      loggedIn(){
        return this.$store.getters.loggedIn;
      }
    }
}
</script>

<style scoped>
.nav-all{
  background-color:  #0F73A2;
  
}
  .nav-name{
    color: white;
  }
  .router-link-active {
    color: white;
  }
</style>